<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>增值服务</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/attach/js/bug-detail.js?version=${version}"></script>
</head>
<body>
	<#include 'layout/hidden_ares.html' />
	<div class="place">
	    <span>位置：</span>
	    <ul>
	    	<li>增值服务</li>
	    	<li>增值服务</li>
	    	<li>Bug反馈</li>
	    	<li>Bug详情</li>
   		</ul>
    </div>
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>Bug反馈</span></div>
		   <ul class="form-info">
	            <li><label>编号:</label><span id="code"></span></li>
	            <li><label>模块:</label><span id="module"></span></li>
	            <li><label>bug主题:</label><span id="topic"></span></li>
	            <li><label>bug内容:</label><span id="content"></span></li>
	            <li><label>bug附件:</label><span id="attachment"></span></li>
	            <li><label>bug期数:</label><span id="period"></span></li>
	            <li><label>提交时间:</label><span id="createDatetime"></span></li>
	            <li><label>复核人:</label><span id="checkUser"></span></li>
	            <li><label>复核意见:</label><span id="checkResult"></span></li>
	            <li><label>复核意见说明:</label><span id="checkDetail"></span></li>
	            <li><label>复核时间:</label><span id="checkDatetime"></span></li>
	            <li><label>支付宝帐号:</label><span id="alipay"></span></li>
	            <li><label>奖励金额</label><span id="money"></span></li>
	            <li><label>奖励时间:</label><span id="moneyDatetime"></span></li>
	            <li><label>状态:</label><span id="status"></span></li>
	            <li><input id="backBtn" type="button" class="btn margin-left-100" value="返回"/></li>
        	</ul>
	    </div>
    </form>
</body>
</html>