<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>菜单列表</title>
<!-- css样式 -->
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/global.css?version=${version}"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/security/css/left.css?version=${version}"/>
<!-- js脚本 -->
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery-1.10.2.min.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-method.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-ajax.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/security/js/left.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html' />
	<input type="hidden" id="parentCode" value="${parentCode}" />
	<div class="left-top"><span></span>功能导航</div>
    <dl class="left-menu"></dl>
</body>
</html>