<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>菜单设置</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/security/js/menu-detail.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html' />
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>系统参数</li>
	    	<li>菜单设置</li>
	    	<li id="operContent">新增菜单</li>
   		</ul>
    </div>
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>菜单信息</span></div>
		    <ul class="form-info">
		    	<li><input type="hidden" id="code" name="code"/></li>
		    	<li><label><b>*</b>父菜单编号:</label>
			    	<select id="parentCode" name="parentCode" class="control-def"></select>
			    </li>
			    <li><label><b>*</b>菜单名称:</label><input type="text" id="name" name="name" class="control-def"/></li>
			    <li><label><b>*</b>菜单地址:</label><input type="text" id="url" name="url" class="control-def"/></li>
			    
			    <li><label><b>*</b>类型:</label>
			    	<select id="type" name="type" class="control-def">
			    		<option value ="" selected="selected">请选择</option>
			    		<option value ="1">菜单</option>
			    		<option value ="2">按钮</option>
		            </select>
		        </li>
			    <li><label><b>*</b>菜单顺序号:</label><input type="text" id="orderNo" name="orderNo" class="control-def"/></li>
			    <li><label>备注:</label><input type="text" id="remark" name="remark" class="control-def"/></li>
			    <li><input id="subBtn" type="button" class="btn margin-left-100" value="保存"/><input id="backBtn" type="button" class="btn margin-left-20" value="返回"/></li>
			</ul>
	    </div>
    </form>
</body>
</html>
