<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>分配菜单</title>
<#include 'layout/resources.html'/>
<!-- css样式 -->
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/third-party/ligerui/css/ligerui-tree.css?version=${version}"/>
<!-- js脚本 -->
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/ligerui/js/base.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/ligerui/js/ligerTree.resource.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/security/js/role-menu.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
	<div class="place">
	    <span>位置：</span>
	    <ul class="placeul">
		    <li>权限管理</li>
		    <li>角色管理</li>
	    	<li>分配菜单</li>
	    </ul>
    </div>
    <form>
	    <div class="form-body">
	    <div class="form-title"><span>分配菜单</span></div>
		     <ul class="form-info">
		       <li><label>角色编号:</label><input type="text" id="code" name="code" readonly="readonly" class="control-def"/></li>
			   <li><label>角色名称:</label><input type="text" id="name" name="name" readonly="readonly" class="control-def"/></li>
			   <li><label>菜单权限:</label><div id="treeMenu"></div></li>
			   <li><input id="subBtn" type="button" class="btn margin-left-100" value="保存"/><input id="backBtn" type="button" class="btn margin-left-20" value="返回"/></li>
			 </ul>
	    </div>
    </form>
</body>
</html>