<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>品味时光</title>
<!-- css样式 -->
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/global.css?version=${version}"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/security/css/top.css?version=${version}"/>
<!-- js脚本 -->
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery-1.10.2.min.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-method.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-ajax.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/security/js/top.js?version=${version}"></script>
</head>
<body>
	<#include 'layout/hidden_ares.html' />
    <div class="top-left">
    	<a href="javascript:void(0)" onclick="mainReload()" target="_parent"><img src="${resourceUrl}/resources/security/images/caigou.png" title="系统首页" style="width:190px; height:70px;"/></a>
    </div>
    <ul class="nav"></ul>
    <div class="top-right">
	    <ul>
		    <!-- <li><span><img src="${resourceUrl}/resources/security/images/help.png" title="帮助"  class="helpimg"/></span><a href="#">帮助</a></li> -->
		    <li><a href="${basePath}/security/user_pwd_change.htm" target="rightFrame">修改密码</a></li>
		    <li><a id="logout">退出</a></li>
	    </ul>
	    <div class="user">
		    <span>${Session.user.userName}</span>
		    <input id="topUserId" type="hidden" value="${Session.user.userId}"/>
		    <i>在线&nbsp;&nbsp;</i>
	    </div>
    </div>
</body>
</html>