<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>重置交易密码</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/security/js/user-tradepwd-reset.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html' />
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>用户管理</li>
	    	<li>用户设置</li>
	    	<li>重置交易密码</li>
   		</ul>
    </div>
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>重置交易密码</span></div>
		    <ul class="form-info">
			    <li><label><b>*</b>新交易密码:</label><input type="password" id="newTradePwd" name="newTradePwd" class="control-def"/></li>
			    <li><label><b>*</b>验证码</label><input type="text" id="smsCaptcha" name="smsCaptcha" class="control-def"/></li>
			    <li><label><b>*</b>证件类型:</label><select id="idKind" name="idKind" class="control-def"></select></li>
			    <li><label><b>*</b>证件号:</label><input type="text" id="idNo" name="idNo" class="control-def"/></li>
			    <li><input id="subBtn" type="button" class="btn margin-left-100" value="确认重置"/><input id="smsBtn" type="button" class="btn margin-left-20" value="发送短信"/></li>
			</ul>
	    </div>
    </form>
</body>
</html>
