<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Expires" content="0" />
		<meta http-equiv="X-UA-Compatible" content="IE=8" />
		<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/css/mian.css" />
		<script type="text/javascript" src="${resourceUrl}/resources/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="${resourceUrl}/resources/js/jquery.validate.js"></script>
		<script type="text/javascript" src="${resourceUrl}/resources/js/validate_expand.js"></script>
		<!--私有js-->
	
		<title>成功</title>
		<!-- 个性化样式 -->
	</head>

	<body class="claro bg-gray">
		<div class="grid-910">
		<div id="contentctn" class="frame-all">
				<div class="con-all"  style="display: block;">
					<!--内容start-->
					<div class="con-success clearfix">
						<div class="cm-left successIcon-lside"><i class="ui-icon icon-big-success"></i></div>
						<div class="cm-left successText-rside">
							<p class="layout01"><b>恭喜您，操作成功！</b></p>
							<p class="layout02 am-ft-md"><a  href="${basePath}/user/center.htm">返回会员中心</a> </p>
						</div>
					</div>
					<!--内容end-->

				</div>
		</div>
		</div>
	</body>

</html>