<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>例子</title>
<#include 'layout/resources.html'/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/js/jquery.edittable.min.css"/>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery.edittable.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/general/js/demo.js?version=${version}"></script>
</head>
<body>
   <div id="examplex"></div>
   <a id="examplexconsole" class="button" href="#">Validate table</a>
</body>
</html>
