<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>系统日志管理</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/general/js/sys-oper.js?version=${version}"></script>
</head>
<body>
   <#include 'layout/hidden_ares.html'/>
   <div class="place">
	    <span>位置：</span>
	    <ul>
		    <li>系统管理</li>
		    <li>系统数据</li>
		    <li>系统日志</li>
	    </ul>
   </div>
   <div class="right-info">
         <!-- 搜索表单 -->
    	 <form class="search-form" id="search-form">
        	<ul>
        		<li><label>针对表</label><input type="text" id="tableSearch" name="table"/></li>
        		<li><label>操作人</label><input type="text" id="operaterSearch" name="operater"/></li>
        		<li style="display: none;"><label>操作时间起</label><input id="dateStartSearch" name="operateDatetimeStart" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/></li>
	            <li style="display: none;"><label>操作时间止</label><input id="dateEndSearch" name="operateDatetimeEnd" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/></li>
		        <li>
	                <input id="searchBtn" type="button" class="btn" value="查询" />
	                <input type="reset" class="btn" value="重置" />
	            </li>
        	</ul>
    	</form>
    	
	    <!-- 表格 -->
	    <table id="tableList"></table>
    </div>
</body>
</html>
