<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>版本升级信息</title>
</head>
<body>
<style>
h2 {
	padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
}
.release-date {
	font-size: 0.7em;
    color: #252525;
    margin-left: 10px;
}
ul li {
	font-size: 0.9em;
	padding-bottom: 5px;
}
</style>
<h2>Changelog</h2>
<div>
<h3>V1.5.1<span class="release-date">2016-07-07</span></h3>
<ul>
<!-- <li>新增Change Log，版本更新说明</li>
<li>新增修改企业隶属人功能</li>
<li>新增合同查询</li>
<li>优化打款记录</li>
<li>修复平台管理和客户管理两个模块的所有bug</li> -->
</ul>
</div>
</body>
</html>