<#include 'layout/config.html' />
<!-- css样式 -->
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/global.css?version=${version}"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/third-party/bootstrap/css/bootstrap.css?version=${version}"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/third-party/bootstrap/css/bootstrap-table.css?version=${version}"/>

<!-- js脚本 -->
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery-1.10.2.min.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery.validate.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-validate.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap-table.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap-table-zh-CN.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/laydate/laydate.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-method.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-ajax.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/dict.js?version=${version}"></script>
