<#include 'layout/config.html' />
<!-- css样式 -->
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/material-design-iconic-font.css"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/ionicons.css"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/chosen.css"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/ui-dialog.css"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/css/global.css?version=${version}"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/third-party/bootstrap/css/bootstrap.css?version=${version}"/>
<link rel="stylesheet" type="text/css" href="${resourceUrl}/resources/common/third-party/bootstrap/css/bootstrap-table.css?version=${version}"/>

<!-- js脚本 -->
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery-1.10.2.min.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/dialog-min.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery.validate.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-validate.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/chosen.jquery.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/megapix-image.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap-table.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap-table-export.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/tableExport.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/bootstrap/js/bootstrap-table-zh-CN.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/third-party/laydate/laydate.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-method.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/common-ajax.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/dict.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="${resourceUrl}/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="${resourceUrl}/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/shim.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jszip.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/xlsx.js"></script>
