<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>平台管理</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/plat/js/buy.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html' />
	<div class="place">
	    <span>位置：</span>
	    <ul>
		    <li>平台管理</li>
		    <li>信息查询</li>
		    <li>购车申请查询</li>
	    </ul>
    </div>
    <div class="right-info">
         <!-- 搜索表单 -->
    	 <form class="search-form">
        	<ul>
	            <li><label>姓名</label><input type="text" id="person"/></li>
	            <li><label>年龄</label><input type="text" id="personDesc"/></li>
	            <li><label>联系方式</label><input type="text" id="contact"/></li>
	            <li><label>预购车型</label><input type="text" id="content1"/></li>
	            <li><label>车价</label><input type="text" id="content2"/></li>
	            <li><label>所在地区</label><input type="text" id="remark"/></li>
	            <li><label>发布日期起</label><input id="dateStart" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/></li>
	            <li><label>发布日期止</label><input id="dateEnd" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/></li>
	            <li>
	                <input id="searchBtn" type="button" class="btn" value="查询" />
	                <input type="reset" class="btn" value="重置" />
	            </li>
        	</ul>
    	</form>
    	<!-- 操作按钮 -->
    	<div class="tools">
	       <ul class="toolbar">
		       <li id="detailBtn"><span><img src="${resourceUrl}/resources/common/images/t01.png"/></span>详情</li>	
		   </ul>
	    </div>
	    <!-- 表格 -->
	    <table id="tableList"></table>
    </div>
</body>

</html>