<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>系统账户信息</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/account/js/sys-account.js?version=${version}"></script>
</head>
<body>
   <#include 'layout/hidden_ares.html'/>
   <div class="place">
	    <span>位置：</span>
	    <ul>
	    </ul>
   </div>
   <div class="form-body">
	    <div class="form-title"><span>账户信息</span></div>
	    <ul class="form-info">
		    <li><label>账号:</label><span id="accountNumber" style="display:inline;"></span></li>
		    <li><label>状态:</label><span id="status"></span></li>
		    <li style="display: none;"><label>币种:</label><span id="currency"></span></li>
		    <li><label>可用余额:</label><span id="amount"></span><a id="blue" class="margin-left-100" href="javascript:void(0);" onclick="redirectAmountJour() " style="color:#00F;">查看资金流水</a></li>
		    <li><label>冻结金额:</label><span id="frozenAmount"></span><a id="blue1" class="margin-left-100" href="javascript:void(0);" onclick="redirectFrozenAmountJour() " style="color:#00F;">查看冻结流水</a></li>
		</ul>
    </div>
</body>
</html>
