<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>新增信息</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/ueditor/ueditor.config.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/ueditor/ueditor.all.min.js?version=${version}"> </script>
<script type="text/javascript" charset="utf-8" src="${resourceUrl}/ueditor/lang/zh-cn/zh-cn.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/web/js/news-addedit.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html' />
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>网站管理</li>
	    	<li>网站管理</li>
	    	<li>新闻信息</li>
	    	<li id="operContent">新增信息</li>
   		</ul>
    </div>
    <form id="jsForm">
    	<input type="hidden" id="code" name="code" />
	    <div class="form-body">
	    <div class="form-title"><span>新增信息</span></div>
		    <ul class="form-info">
			    <li style="display: none;"><label><b>*</b>所属公司:</label><select id="companyCode" name="companyCode" class="control-def"></select>
	            </li>
			    <li><label><b>*</b>新闻标题:</label><input type="text" id="title" name="title" class="control-def"/></li>
			    <li><label><b></b>关键字:</label><input type="text" id="keyword" name="keyword" class="control-def"/></li>
			    <li><label><b>*</b>新闻类型:</label><select id="type" name="type" class="control-def"></select></li>
			    <li><label><b>*</b>作者:</label><input type="text" id="author" name="author" class="control-def"/></li>
			    <li><label><b>*</b>跳转链接:</label><input type="text" id="jumpUrl" name="jumpUrl" class="control-def"/></li>
			    <li><label><b></b>显示链接:</label><input type="text" id="showUrl" name="showUrl" class="control-def"/></li>
			    <li><label><b>*</b>图片:</label><input type="file" onchange="selectImage(this);" id="picture" name="picture"/><img src="" id="previewPic" width="100" height="100"></img></li>
			    <li><label><b>*</b>内容:</label><textarea id="content" name="content" style="width:800px;height:250px;float:left" ></textarea></li>
			    <li><label><b></b>备注:</label><input type="text" id="remark" name="remark" class="control-def"/></li>
			    <li><input id="subBtn" type="button" class="btn margin-left-100" value="保存"/><input id="backBtn" type="button" class="btn margin-left-20" value="返回"/></li>
			</ul>
	    </div>
    </form>
</body>
</html>